/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    max-width: 300px;
    height: auto;
}

.header-content h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.club-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.login-message {
    font-size: 14px;
}

.header-buttons button,
#loginForm button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-buttons button:hover,
#loginForm button:hover {
    background-color: #ddd;
}

/* Estilos para el contenido principal */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    color: #333;
}

/* Estilos para formularios */
form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form button {
    width: calc(50% - 5px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos para el catálogo de productos */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h3 {
    margin: 10px 0;
}

.product p {
    margin: 5px 0;
}

.product button {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

/* Estilos para el carrito de compras */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    text-align: center;
}

.modal-header, .modal-body, .modal-footer {
    padding: 10px 20px;
}

.modal-header {
    border-bottom: 1px solid #ddd;
}

.modal-header h2 {
    margin: 0;
}

.modal-body {
    max-height: 400px;
    overflow-y: auto;
}

.modal-footer {
    border-top: 1px solid #ddd;
    text-align: right;
}

.close, #closeCartButton {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close:hover, #closeCartButton:hover {
    background-color: #ddd;
    color: #333;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.cart-item img {
    max-width: 50px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.cart-item h3 {
    margin: 0;
    flex-grow: 1;
    text-align: left;
}

.cart-item p {
    margin: 0;
    flex-shrink: 0;
}

.cart-item button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-item button:hover {
    background-color: #d32f2f;
}
